*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.title{
  position: relative;
  text-align: center;
  margin: 20px 0;
  color: #ee0134;
  font-size: 1.5rem;
}
.title::after{
  content: " ";
  width: 70%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.divisor{
  width: 80%;
  height: 1px;
  margin-top: 30px 0;
  background-color: #444;

}