*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.title{
  text-align: center;
  margin: 20px 0;
  color: #ee0134;
  font-size: 1.5rem;
}

